{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Myself
{% endblock %}

{% block content %}
<div class="features">
    <h1><a href="#ya">Александр Степанников</a> и <a href="#op">ОП</a></h1>
    <div id = 'ya'>
        <img class='myimage' src="{%static 'main/img/myself.jpg' %}" alt="MyPhoto">
        {% for el in step %}
                <h5>{{ el }}</h5>
        {% endfor %}
    </div>
        <div id = "op">
            <p></p>
            <p></p>
        <h2>ОП: Экономика</h2>
        <i>Образовательная программа факультета экономических наук «Экономика» направлена на подготовку высококвалифицированных аналитиков, специалистов и руководителей для ведущих российских и зарубежных компаний, государственных органов управления, исследовательских центров и университетов. Серьезная фундаментальная подготовка в области современной экономической теории, эконометрики, математики, анализа больших данных, машинного обучения сочетается с глубоким изучением прикладных дисциплин и активной научно-исследовательской и проектной работой.</i>
        <i>Обучение строится на основе принципа индивидуализации учебных планов. Это предполагает сокращение числа обязательных дисциплин и увеличение набора дисциплин по выбору, что позволяет студенту самостоятельно осуществлять формирование своего учебного плана с учетом своих научных, исследовательских и практических интересов. Студенты сочетают учебную деятельность с активным участием в научных исследованиях, научных семинарах, конференциях, в работе исследовательских лабораторий, публикациями в научных журналах и сборниках научных трудов.</i>
        <i>Существенное внимание уделяется развитию навыков практической работы — производственная практика, работа с российскими и международными базами данных, учебный дилинговый центр, мастер-классы ведущих российских и зарубежных специалистов. По окончании бакалавриата выпускники получают государственный диплом с присвоением степени бакалавра по направлению «Экономика».</i>
        <p></p>
        <p></p>
        <div class="people">
            <div class='booking'>
                <img class='book' src="{%static 'main/img/booking.jpeg' %}">
                <h5 class="booking">Академический руководитель:
                {% for el in booking %}
                    <p>{{ el }}</p>
                {% endfor %}
                </h5>
            </div>
            <div class='makarova'>
                <img class='mak' src="{%static 'main/img/makarova.jpeg' %}">
                <h5 class="maka">Менеджер:
                {% for el in makarova %}
                    <p>{{ el }}</p>
                {% endfor %}
                </h5>
            </div>
            <div class='friend1'>
                <img class='sar' src="{%static 'main/img/sardor.jpg' %}">
                <h5 class="sard">Сокурсник 1:
                {% for el in sardor %}
                    <p>{{ el }}</p>
                {% endfor %}
                </h5>
            </div>
            <div class='friend2'>
                <img class='art' src="{%static 'main/img/artem.jpg' %}">
                <h5 class="arte">Сокурсник 2:
                {% for el in artem %}
                    <p>{{ el }}</p>
                {% endfor %}
                </h5>
            </div>
        </div>
    </div>
</div>
<style>
    .myimage {
        height: 200px;
        width: 200px;
    }

    .people {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: auto;
        gap: 20px
    }
    .people img {
        height: 190px;
        width: 190px;
    }
</style>
{% endblock %}