body {
    background: #2c2c2c;
    margin: 0;
    padding: 0;
}

.monkey {
    width: 50px;
    height: 40px;
    justify-content: left;
    display: flex;
    object-fit: cover;
    align-items: center;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 10px;
}

aside {
    position: fixed;
    border-bottom: 2px solid rebeccapurple;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 999;
    height: 10vh;
    background: wheat;
    justify-content: center;
    align-items: center;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

aside a {
    color: black;
    display: block;
    width: 1%;
}

aside ul li {
    margin: 0 5px;
    margin-top: 13px;
    margin-right: 100px;
    align-items: center;
}

aside ul a {
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .about {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .contacts {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}

main .features p {max-width: 400 px;}

aside ul a:hover {
    color: blueviolet;
    transform: scale(1.20);
    width: auto;
}

main .txt {
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

main .txt a {
    text-decoration: none;
    color: wheat;
}

main .txt a:hover {
    color: blueviolet;
}